<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ECommerce Checkpoint 3</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/styles.css"> <!-- Add this line to link your CSS file -->
</head>

<body>
 
 
 <header>
    <div class="container">
      <div class="header-content">
        <h2>My ECommerce</h2>
        <h1>Cinema Collectibles</h1>
        <nav>
          <a href="/" class="btn btn-light">
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
           </svg>
          </a>
          <a href="/showCart" class="btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-cart2" viewBox="0 0 16 16">
              <path
                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
            </svg>
          </a>
          <a href="/logout" class="btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
              <path fill-rule="evenodd"
                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
            </svg>
          </a>
        </nav>
      </div>
    </div>
  </header>
 
 
 
  <div class="container">
    <div class="customer-profile">
      <h2>Customer Profile</h2>
      <p><strong>Username:</strong> <%= user.username %></p>
    </div>

    <div class="purchase-history">
      <h2><%= user.username %>'s Purchase History</h2>
      <% if (user.purchases && user.purchases.items && user.purchases.items.length > 0) { %>
        <div class="purchase-table">
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% user.purchases.items.forEach(item => { %>
                <tr>
                  <td><%= item.productId.name %></td>
                  <td>$<%= item.price.toFixed(2) %></td>
                  <td><%= item.quantity %></td>
                  <td>$<%= (item.price * item.quantity).toFixed(2) %></td>
                </tr>
              <% }); %>
              <tr>
                <td colspan="4"><hr></td>
              </tr>
              <tr>
                <td><strong>Total Spent</strong></td>
                <td>$<%= user.purchases.totalPrice.toFixed(2) %></td>
              </tr>
              <tr>
                <td><strong>Total Purchases</strong></td>
                <td>$<%= user.purchases.totalQuantity %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% } else { %>
        <p>Your purchase history is empty.</p>
      <% } %>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
